# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

## Read the CSV and Perform Basic Data Cleaning

In [6]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [7]:
# Create our features
X = df.copy()
X.drop("loan_status", axis=1, inplace=True)
X=pd.get_dummies(X)
X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1

In [8]:
# Create our target
y = df[['loan_status']]

In [9]:
X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1

In [10]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [11]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [12]:
# Split the X and y into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=12)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [13]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [14]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [18]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [19]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators = 100, random_state = 1)
brf.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(random_state=1)

In [20]:
# Calculated the balanced accuracy score
y_pred = brf.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.7701931407346055

In [21]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   58,    34],
       [ 1541, 15572]], dtype=int64)

In [23]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.63      0.91      0.07      0.76      0.56        92
   low_risk       1.00      0.91      0.63      0.95      0.76      0.59     17113

avg / total       0.99      0.91      0.63      0.95      0.76      0.59     17205

In [30]:
# List the features sorted in descending order by feature importance
importances = brf.feature_importances_
indices = np.argsort(importances)[::-1]
for f in range(X.shape[1]):
    print(f'{X.columns.values[indices[f]]}: ({importances[indices[f]]})')

total_rec_prncp: (0.08969665458209104)
total_rec_int: (0.06436823464037578)
total_pymnt_inv: (0.06362653031376969)
last_pymnt_amnt: (0.053061501841593216)
total_pymnt: (0.05184437542411125)
int_rate: (0.03157052509896579)
mo_sin_old_il_acct: (0.017915275976099935)
max_bal_bc: (0.01762101330465467)
total_bal_il: (0.016930281332889523)
mo_sin_old_rev_tl_op: (0.01690763899195005)
issue_d_Jan-2019: (0.01611280044010825)
dti: (0.016062185905934414)
out_prncp_inv: (0.015977063378052995)
mths_since_recent_inq: (0.015456345699412097)
bc_open_to_buy: (0.015399228254243006)
installment: (0.015248780873124404)
issue_d_Mar-2019: (0.01512220787053641)
total_bc_limit: (0.014933160145948202)
avg_cur_bal: (0.014691563129216033)
total_bal_ex_mort: (0.014614670829337194)
total_rev_hi_lim: (0.014372343822117462)
revol_bal: (0.014009387315259579)
annual_inc: (0.013899250401843108)
tot_hi_cred_lim: (0.012997231447437328)
bc_util: (0.012937090657699591)
mths_since_recent_bc: (0.01223125852249812)
all_util: (0.011941749064600951)
total_il_high_credit_limit: (0.011906645001968984)
il_util: (0.01190128090379159)
tot_cur_bal: (0.01188832752380545)
out_prncp: (0.011851588046209421)
total_acc: (0.0114688991956643)
mths_since_rcnt_il: (0.011397502776777832)
mo_sin_rcnt_rev_tl_op: (0.01062916199571512)
open_acc: (0.010281133399911657)
total_rec_late_fee: (0.009822289901318676)
num_sats: (0.009424383613814659)
num_op_rev_tl: (0.009400959114783475)
num_il_tl: (0.009109588322499118)
num_rev_accts: (0.00884027958273824)
num_actv_rev_tl: (0.008618145383175266)
loan_amnt: (0.008509790355360543)
inq_last_12m: (0.008388671541307026)
num_rev_tl_bal_gt_0: (0.008352957634912228)
inq_fi: (0.008024275836683277)
pct_tl_nvr_dlq: (0.007973482828125867)
mo_sin_rcnt_tl: (0.007892195882442263)
num_bc_tl: (0.007867365325648221)
open_rv_24m: (0.007822364674389905)
num_actv_bc_tl: (0.0075398277935630744)
open_il_24m: (0.007241497442550438)
num_tl_op_past_12m: (0.007094304158212612)
num_bc_sats: (0.007079934372943227)
next_pymnt_d_May-2019: (0.007039126036333544)
open_act_il: (0.006234756762731512)
percent_bc_gt_75: (0.006191773261479756)
acc_open_past_24mths: (0.005923960639942861)
issue_d_Feb-2019: (0.005129675155062671)
total_cu_tl: (0.0050593096648007835)
open_il_12m: (0.0049644069616619334)
open_rv_12m: (0.00483992685362788)
mort_acc: (0.004645342835755756)
open_acc_6m: (0.003951889281482612)
inq_last_6mths: (0.003919558606000281)
num_accts_ever_120_pd: (0.003919537770847867)
next_pymnt_d_Apr-2019: (0.003787352213369082)
tot_coll_amt: (0.003510378689668641)
verification_status_Source Verified: (0.0024623418333034656)
home_ownership_RENT: (0.0023041921314811043)
delinq_2yrs: (0.002153902605423826)
verification_status_Verified: (0.0019610697763351092)
verification_status_Not Verified: (0.0016867310923748499)
home_ownership_OWN: (0.0015167408933183537)
initial_list_status_w: (0.0013800350007420767)
application_type_Joint App: (0.0013760077758229242)
pub_rec: (0.0011186704024300463)
home_ownership_MORTGAGE: (0.0009726271371120453)
pub_rec_bankruptcies: (0.0009452232182369889)
num_tl_90g_dpd_24m: (0.000886729666190194)
application_type_Individual: (0.0008045506021376555)
collections_12_mths_ex_med: (0.0005405812425544981)
initial_list_status_f: (0.00046717860130612046)
home_ownership_ANY: (0.00035881877240322136)
chargeoff_within_12_mths: (7.24026438795513e-05)
recoveries: (0.0)
tax_liens: (0.0)
num_tl_30dpd: (0.0)
hardship_flag_N: (0.0)
num_tl_120dpd_2m: (0.0)
policy_code: (0.0)
delinq_amnt: (0.0)
acc_now_delinq: (0.0)
collection_recovery_fee: (0.0)
pymnt_plan_n: (0.0)
debt_settlement_flag_N: (0.0)

### Easy Ensemble Classifier

In [31]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators = 100, random_state = 1)
eec.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [32]:
# Calculated the balanced accuracy score
y_pred = eec.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9028471871117558

In [33]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   78,    14],
       [  721, 16392]], dtype=int64)

In [34]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.10      0.85      0.96      0.18      0.90      0.80        92
   low_risk       1.00      0.96      0.85      0.98      0.90      0.82     17113

avg / total       0.99      0.96      0.85      0.97      0.90      0.82     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.

In [1]:
#Which model had the best balanced accuracy score?
##The easy ensemble classifier slightly beats the Balanced Random Forest f1 mean score .97 versus .95

In [ ]:
#Which model had the best recall score?
##Easy Ensemble has the better recall score high risk: .85 v.63 low risk: .96 v .91 ave .96 v .91

In [ ]:
#Which model had the best geometric mean score?
##Easy Ensemble .90 v .76

In [ ]:
What are the top three features?
total_rec_prncp: (0.08969665458209104)
total_rec_int: (0.06436823464037578)
total_pymnt_inv: (0.06362653031376969)