In [1]:
%pwd

'C:\\Users\\josh\\Documents\\fintech_homework\\homework2\\PyBank'

In [11]:
import pandas as pd

In [12]:
pd.read_csv('Resources/budget_data.csv')

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [8]:
%pwd

'C:\\Users\\josh\\Documents\\fintech_homework\\homework2\\PyBank'

In [13]:
totMonths = 0

In [10]:
totMonths = 0

In [11]:
netTotPL = 0

In [12]:
aveDeltaPL = 0

In [13]:
grIncreaseP = 0

In [14]:
grDecreaseL = 0

In [15]:
grDecreaseP = 0

In [16]:
count = 0

In [6]:
df = pd.read_csv('Resources/budget_data.csv')

NameError: name 'pd' is not defined

In [18]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [19]:
type (df)

pandas.core.frame.DataFrame

In [1]:
df[1:]

NameError: name 'df' is not defined

In [2]:
monthlyPL = df.values.tolist()

NameError: name 'df' is not defined

In [4]:
type (df)

NameError: name 'df' is not defined

In [5]:
df

NameError: name 'df' is not defined

In [7]:
import pandas as pd

In [8]:
pd.read_csv('Resources/budget_data.csv')

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [9]:
df

NameError: name 'df' is not defined

In [10]:
#budget_data (date , PnL)
#for date in budget_data:
#    netTotPL = netTotPL + PnL
#    count = count + 1
#totMonths = count
#netTotPL
# row = 0
#diff_PnL = PnL[row +1] - PnL[row]
#grIncreaseP = max diff_PnL
#grDecreaseP = min diffPnL